/resources/ui/mathview/mathjax/
/resources/ui/mathview/mathquill/
/resources/ui/mathview/jquery.js
*~
.~*#
/tmp
/out
/gen
/.idea/workspace.xml
/project/target
/project/project/target
/target
/doc
/lib
/theory.xml
