/resources/mathjax/
/resources/icons/
*~
.~*#
/resources/errors/*.bak

/haskell/dist/
/haskell/.HTF/Test.history
/haskell/proof-editor.lkshs

/cmathml.cmi
/cmathml.cmx
/cmathml.o
/cmathml
/cmathml.exe

__pycache__/
.mypy-stubs

src/*/Ui_*.py
