/resources/mathjax/
/resources/icons/
*~
.~*#
/resources/errors/*.bak

/haskell/dist/
/haskell/.HTF/Test.history
/haskell/proof-editor.lkshs

/cmathml.cmi
/cmathml.cmx
/cmathml.o
/cmathml
/cmathml.exe

__pycache__/
.mypy-stubs

src/*/Ui_*.py

MathEdHaskell.exe

/haskell/gui/.stack-work
/haskell/gui/html/font
/haskell/gui/html/mathquill.js
/haskell/gui/html/jquery-2.2.2.min.js
/haskell/gui/html/mathquill.css
